@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Change font family */
}

.container {
    width: 100%;
    overflow: hidden;
}

.blog-section {
    width: 85%;
    margin: auto;
}

.blog-section .title {
    width: 100%;
    text-align: center;
    margin: auto;
}

.blog-section .title h2 {
    font-size: 2rem; /* Adjust font size */
    color: #050505;
    text-transform: uppercase;
    margin-top: 20px;
}

.blog-section .title p {
    padding: 1rem; /* Adjust padding */
    font-size: 1.2rem; /* Adjust font size */
    color: #050505;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Add space between cards */
    overflow: hidden; /* Hide overflow */
    margin-bottom: 20px; /* Add bottom margin */
}

.cards {
    display: flex;
    flex-wrap: nowrap; /* Keep cards in a single row */
    transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.card {
    width: calc(33.33% - 20px); /* Adjust card width for responsiveness */
    margin-right: 20px; /* Add right margin */
    display: none; /* Initially hide cards */
}

.card:nth-child(-n + 3) {
    display: block; /* Display first three cards */
}

.card:last-child {
    margin-right: 0; /* Remove right margin from the last card */
}

.card:hover {
    transform: scale(1.03);
}

.image-section img {
    width: 100%;
    height: auto;
}

.content {
    padding: 15px; /* Adjust padding */
}

.content h4 {
    font-size: 1rem; /* Adjust font size */
    font-weight: 700;
    color: #2b8c44;
}

.content p {
    font-size: 1rem; /* Adjust font size */
    line-height: 1.6; /* Adjust line height */
    color: #050505;
}

.content .btn {
    display: inline-block;
    padding: 1rem; /* Adjust padding */
    color: #16de48;
    text-decoration: none;
    font-size: 1rem; /* Adjust font size */
    position: relative;
    transition: background-color 0.3s ease;
}

.content .btn:hover {
    color: #2b8c44;
}

.btn::after {
    content: " →";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem; /* Adjust font size */
}

/* Style for both buttons */
#prevBtn,
#nextBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem; /* Adjust font size */
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
#prevBtn:hover,
#nextBtn:hover {
    background-color: #0d7b12;
}

/* Disabled state for buttons */
#prevBtn:disabled,
#nextBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


